.container{
    background-color: #141414;
    padding: 10px;
    
}

.container ul{
    display: flex;
    justify-content: space-evenly;
    
    list-style-type: none;
    color: aliceblue;
    font-family: "Roboto";
}
