.container{
    background-color: #141414;
    padding: 10px;
    
}

.container ul{
    display: flex;
    justify-content: space-evenly;
    
    list-style-type: none;
    color: aliceblue;
    font-family: "Roboto";
}

.container ul li{
    display: flex;
    align-items: center;
    color: red;
    column-gap: 10px;    
}

nav ul a{
    text-decoration: none;
    transition: 0.2s;
}

nav ul a:hover{
    transform: scale(1.05);
}