body{
   background-color: #181818;
}

.container{
    display: flex;
    justify-content: center;
    align-items: baseline;
    column-gap: 100px;
    margin-bottom: 150px;
}
.img{
    margin-top: 50px;
    width: 100%;
    border-radius: 100%;
}


.card{
    width: 250px;
    height: 250px;
    text-align: center;

    transition: 0.2s;
}

.card:hover{
   transform: scale(1.03);
}
h1{
    margin-top: 10px;
}